<template>
<div class="row">
    <div class="col-12 text-right" style="margin-bottom: 15px;">
    </div>

    <div class="col-12">
        <div class="card">
            <div class="card-header">
            <h3 class="card-title">List Audits</h3>

            <div class="card-tools">
                
            </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>User Name</th>
                    <th>Auditable Type</th>
                    <th>Event</th>
                    <th>New Values</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="audit, index in audits">
                    <td>{{audit.id}}</td>
                    <td>{{audit.name}}</td>
                    <td>{{audit.auditable_type}}</td>
                    <td>{{audit.event}}</td>
                    <td>{{audit.new_values}}</td>
                </tr>
                
                </tbody>
            </table>
            </div>
            <!-- /.card-body -->
        </div>
    <!-- /.card -->
    </div>
</div>
</template>
<script>
    export default {
        data: function () {
            return {
                audits: []
            }
        },
        mounted() {
            var app = this;
            axios.get('/api/v1/get/audit', {headers: {
                    "Authorization" : localStorage.getItem('token')
                }
                })
                .then(function (resp) {
                    app.audits = resp.data.response;
                })
                .catch(function (resp) {
                    console.log(resp);
                });
        },
        methods: {
            
        }
    }

    
</script>