<template>
<div class="row">
    <div class="col-12">
        
    </div>
</div>
</template>
<script>
    export default {
        data: function () {
            return {
                users: []
            }
        },
        mounted() {
            var app = this;
            axios.get('/api/v1/users/all', {headers: {
                    "Authorization" : localStorage.getItem('token')
                }
                })
                .then(function (resp) {
                    app.users = resp.data;
                })
                .catch(function (resp) {
                    console.log(resp);
                    location.href = 'login'
                });
        },
        methods: {
            
        }
    }

    
</script>