<template>
<div class="row">
    <div class="col-12">
        <div class="card" style="padding: 15px;">
            <form v-on:submit="updateRooms()">
                <div class="card-body table-responsive p-0">
                    <div class="form-group">
                        <label>Users</label>
                        <select class="form-control" v-model="room.user_id" disabled>
                          <option :value="user.id" v-for="user, index in users">{{user.name+"("+user.email+")"}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Rooms</label>
                        <select class="form-control" v-model="room.room_id">
                          <option :value="room.id" v-for="room, index in rooms">{{room.name+"("+room.hotel_name+")"}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Checkin</label>
                        <datepicker id="checkin" v-model="room.checkin" placeholder="Checkin Date" :bootstrap-styling="true" :format="customFormatter"></datepicker>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Checkout</label>
                        <datepicker id="checkout" v-model="room.checkout" placeholder="Checkout Date" :bootstrap-styling="true" :format="customFormatter"></datepicker>
                    </div>
                    <div class="form-group">
                        <label>Status</label>
                        <select class="form-control" v-model="room.status">
                          <option value="1" >Pending</option>
                          <option value="2" >Checkin</option>
                          <option value="3" >Checkout</option>
                          <option value="4" >Failed</option>
                          <option value="5" >Cancel</option>
                        </select>
                    </div>
                    <div class="col-12 text-right" style="margin-bottom: 10px;">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">
                        Update
                        </button>
                    </div>
                </div>
            </form>
        </div>
    <!-- /.card -->
    </div>
</div>
</template>
<script>
    import Datepicker from 'vuejs-datepicker';
    import moment from 'moment';
    export default {
        data: function () {
            return {
                rooms: [],
                room: {
                    checkin: '',
                    checkout: '',
                    room_id: '',
                    status: ''
                },
                hotels: [],
                orders: [],
                users: [],
                erramount: '',
                errname: '',
            }
        },
        components: {
            Datepicker
        },
        mounted() {
            var app = this;
            var id = window.location.href.split('/').pop()
            axios.get('/api/v1/users/show', {headers: {
                        "Authorization" : localStorage.getItem('token'),
                    }})
                .then(function (resp) {
                    app.users = resp.data.response;
                    
                })
                .catch(function (resp) {
                    console.log(resp);
                });
            axios.get('/api/v1/rooms/show', {headers: {
                        "Authorization" : localStorage.getItem('token'),
                    }})
                .then(function (resp) {
                    app.rooms = resp.data.response;
                    
                })
                .catch(function (resp) {
                    console.log(resp);
                });

            axios.get('/api/v1/rooms-order/show?id='+id, {headers: {
                        "Authorization" : localStorage.getItem('token'),
                    }})
                .then(function (resp) {
                    app.orders = resp.data.response;
                    app.room.room_id = app.orders.room_id
                    app.room.checkin = moment(app.orders.checkin).format('YYYY-MM-DD')
                    app.room.checkout = moment(app.orders.checkout).format('YYYY-MM-DD')
                    app.room.status = app.orders.status_code
                    
                })
                .catch(function (resp) {
                    console.log(resp);
                });
        },
        methods: {
            customFormatter(date) {
                return moment(date).format('YYYY-MM-DD');
            },
            updateRooms: function() {
                event.preventDefault();
                var app = this
                var dateA = moment(this.room.checkin, "MM-DD-YYYY");
                var dateB = moment(this.room.checkout, "MM-DD-YYYY");
                app.room.checkin = moment(dateA).format('YYYY-MM-DD')
                app.room.checkout = moment(dateB).format('YYYY-MM-DD')
                var id = window.location.href.split('/').pop()

                var createRoom = app.room


                if(this.room.checkin == ''){
                    alert('Checkin Required!')
                }else if(this.room.checkout == ''){
                    alert('Checkout Required!')
                }else if(dateA.diff(dateB) > 0){
                    alert('Checkin is later than Checkout!')
                }else{
                    axios.post('/api/v1/rooms-order/update/'+id, createRoom, {headers: {
                        "Authorization" : localStorage.getItem('token'),
                    }})
                        .then(function (resp) {
                            const code = resp.data.diagnostic.code
                            const status = resp.data.diagnostic.status
                            if(code == 200){
                                alert('Success to update order')
                                location.href = '/dashboard/orders'
                            }else{
                                alert(status)
                            }
                        })
                        .catch(function (resp) {
                            console.log(resp)
                            alert("Something wrong. Try Again!")
                        });
                }
            }
        }
    }

    
</script>