<template>
<div class="row">
    <div class="col-12">
        <div class="card" style="padding: 15px;">
            <form v-on:submit="saveRooms()">
                <div class="card-body table-responsive p-0">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="text" v-model="room.name" class="form-control" v-bind:class="{ 'is-invalid': errname !== '' }" placeholder="Enter Name">
                        <div class="invalid-feedback">
                        {{errname}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Amount</label>
                        <input type="number" v-model="room.amount" class="form-control" v-bind:class="{ 'is-invalid': erramount !== '' }" placeholder="Enter Amount">
                        <div class="invalid-feedback">
                        {{erramount}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Hotel</label>
                        <select class="form-control" v-model="room.hotel_id">
                          <option :value="hotel.id" v-for="hotel, index in hotels">{{hotel.name}}</option>
                        </select>
                    </div>
                    <div class="col-12 text-right" style="margin-bottom: 10px;">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">
                        Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    <!-- /.card -->
    </div>
</div>
</template>
<script>
    export default {
        data: function () {
            return {
                rooms: [],
                room: {
                    name:'',
                    hotel_id:'',
                    amount: ''
                },
                hotels: [],
                erramount: '',
                errname: '',
            }
        },
        mounted() {
            var app = this;
            axios.get('/api/v1/hotel/list')
                .then(function (resp) {
                    app.hotels = resp.data.response;
                    
                })
                .catch(function (resp) {
                    console.log(resp);
                });
        },
        methods: {

            saveRooms: function() {
                event.preventDefault();
                var app = this
                var createRoom = app.room
                app.errname = '';
                app.erramount = '';

                if (!createRoom.name) {
                    app.errname = 'Name required.';
                }else if (!createRoom.amount) {
                    app.erramount = 'Amount Required.';
                }else{
                    axios.post('/api/v1/rooms/create', createRoom, {headers: {
                        "Authorization" : localStorage.getItem('token'),
                    }})
                        .then(function (resp) {
                            const code = resp.data.diagnostic.code
                            const status = resp.data.diagnostic.status
                            if(code == 200){
                                alert('Success to create room')
                                location.href = '/dashboard/rooms'
                            }else{
                                alert(status)
                            }
                        })
                        .catch(function (resp) {
                            console.log(resp)
                            alert("Something wrong. Try Again!")
                        });
                }
            }
        }
    }

    
</script>