<template>
<div class="row w-100" style="position: absolute;top: 20%;padding-left: 60px;padding-right: 60px;">

    <div class="col-12">
        <div class="login-logo text-left">
            <a href="#">{{hotels.name}}</a>
        </div>
    </div>
    <div class="col-3">
        <img v-bind:src="hotels.url_image" height="250" width="250" />
    </div>
    <div class="col-9">
        <p>{{hotels.description}}</p>
    </div>
    <div class="col-12" style="margin-top: 25px;">
        <div class="login-logo text-left">
            <a href="#">Choose Your CheckIn and CheckOut Date</a>
        </div>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-2">
                <datepicker id="checkin" v-model="checkin" placeholder="Checkin Date" :bootstrap-styling="true" :format="customFormatter"></datepicker>
            </div>
            <div class="col-2">
                <datepicker id="checkout" v-model="checkout" placeholder="Checkout Date" :bootstrap-styling="true" :format="customFormatter"></datepicker>
            </div>
        </div>
    </div>
    <div class="col-12" style="margin-top: 15px;">
        <div class="card">
            <div class="card-body table-responsive p-0">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="room, index in rooms">
                    <td>{{room.name}}</td>
                    <td v-if="room.available">Available</td>
                    <td v-else>Full Booked</td>
                    <td v-if="auth == null"><a href="/login" v-bind:class="{ 'd-none': room.available == false }">[Book Now]</a></td>
                    <td v-else><a href="#" v-bind:class="{ 'd-none': room.available == false }" v-on:click="bookNow(room.id)" >[Book Now]</a></td>
                </tr>
                
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
</template>
<script>
    import Datepicker from 'vuejs-datepicker';
    import moment from 'moment';
    export default {
        data: function () {
            return {
                hotels: [],
                rooms: [],
                auth: '',
                idroom: '',
                checkin: '',
                checkout: '',
                idhotel: ''
            }
        },
        components: {
            Datepicker
        },
        mounted() {
            var app = this;
            app.auth = localStorage.getItem('token')
            app.idhotel = window.location.href.split('/').pop();
            localStorage.removeItem('checkin')
            localStorage.removeItem('checkout')
            
            axios.get('/api/v1/hotel/detail/'+ app.idhotel)
                .then(function (resp) {
                    app.hotels = resp.data.response;
                    app.rooms = resp.data.response.room;
                })
                .catch(function (resp) {
                    console.log(resp);
                    location.href = 'login'
                });
        },
        methods: {
            customFormatter(date) {
                return moment(date).format('YYYY-MM-DD');
            },
            bookNow: function(ids) {
                var dateA = moment(this.checkin, "MM-DD-YYYY");
                var dateB = moment(this.checkout, "MM-DD-YYYY");

                if(this.checkin == ''){
                    alert('Checkin Required!')
                }else if(this.checkout == ''){
                    alert('Checkout Required!')
                }else if(dateA.diff(dateB) > 0){
                    alert('Checkin is later than Checkout!')
                }else{
                    localStorage.setItem('checkin', moment(dateA).format('YYYY-MM-DD'))
                    localStorage.setItem('checkout', moment(dateB).format('YYYY-MM-DD'))
                    location.href = '/order-rooms/' + ids
                }
            }
        }
    }

    
</script>