<template>
<section class="content-header">
    <div class="container-fluid right">
        <div v-if="auth == null" class="col-sm-12 right">
            <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/login">Login/Register</a></li>
            </ol>
        </div>
        <div v-else class="col-sm-12 right">
            <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">Welcome, {{users.name}}</li>
            <li class="breadcrumb-item"><a href="/my-order">My Orders</a></li>
            <li class="breadcrumb-item"><a href="/my-account">My Account</a></li>
            <li class="breadcrumb-item"><a href="#" v-on:click="Logout()">Logout</a></li>
            </ol>
        </div>
    </div>
</section>

</template>
<script>
    export default {
        data: function () {
            return {
                users: [],
                auth: ''
            }
        },
        mounted() {
            var app = this;
            app.auth = localStorage.getItem('token')
            axios.get('/api/v1/get/profile', {headers: {
                    "Authorization" : localStorage.getItem('token')
                }
                })
                .then(function (resp) {
                    app.users = resp.data.response;
                })
                .catch(function (resp) {
                    console.log(resp);
                });
        },
        methods: {
            Logout: function() {
                var app = this
                axios.get('/api/v1/logout', {headers: {
                    "Authorization" : localStorage.getItem('token')
                }
                })
                    .then(function (resp) {
                        const code = resp.data.diagnostic.code
                        const status = resp.data.diagnostic.status
                        if(code == 200){
                            alert('Success to logout')
                            localStorage.removeItem('token')
                            location.href = '/login'
                        }else{
                            alert(status)
                        }
                    })
                    .catch(function (resp) {
                        console.log(resp)
                        alert("Something wrong. Try Again!")
                    });
            }
        }
    }

    
</script>