<template>

<div class="col-12" >
    <div class="row">
        <div class="col-4 text-center" v-for="hotel, index in hotels">
            <img v-bind:src="hotel.url_image" style="width: 95%;padding: 15px;" />
            <a :href="'/detail-hotel/'+ hotel.id "><h3>{{hotel.name}}</h3></a>
        </div>
    </div>

</div>
</template>
<script>
    export default {
        data: function () {
            return {
                hotels: [],
                auth: ''
            }
        },
        mounted() {
            var app = this;
            axios.get('/api/v1/hotel/list')
                .then(function (resp) {
                    app.hotels = resp.data.response;
                    app.auth = localStorage.getItem('token')
                })
                .catch(function (resp) {
                    console.log(resp);
                    location.href = 'login'
                });
        },
        methods: {
            
        }
    }

    
</script>