<template>
<div class="row w-100" style="position: absolute;top: 20%;padding-left: 60px;padding-right: 60px;">

    <div class="col-12">
        <div class="login-logo text-center">
            <a href="#">Order Review</a>
        </div>
    </div>
    <div class="col-12" style="margin-top: 15px;">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Hotel Name</th>
                                <th>Room Name</th>
                                <th>Check In</th>
                                <th>Check Out</th>
                                <th>Status</th>
                                <th>Order Date</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="room, index in rooms">
                                <td>{{room.id}}</td>
                                <td>{{room.hotel_name}}</td>
                                <td>{{room.room_name}}</td>
                                <td>{{room.checkin}}</td>
                                <td>{{room.checkout}}</td>
                                <td>{{room.status}}</td>
                                <td>{{room.order_date}}</td>
                                <td v-if="room.status !== 'Pending'"></td>
                                <td v-else><a href="#" v-on:click="cancelOrder(room.id)">[CANCEL]</a></td>
                            </tr>
                            
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
</template>
<script>
    import Datepicker from 'vuejs-datepicker';
    import moment from 'moment';
    export default {
        data: function () {
            return {
                rooms: [],
                auth: '',
                room: {
                    status: ''
                }
            }
        },
        components: {
            Datepicker
        },
        mounted() {
            var app = this;
            app.auth = localStorage.getItem('token')
            var id = window.location.href.split('/').pop();

            axios.get('/api/v1/my-order', {headers: {
                    "Authorization" : localStorage.getItem('token')
                }})
                .then(function (resp) {
                    app.rooms = resp.data.response;
                })
                .catch(function (resp) {
                    console.log(resp);
                });
        },
        methods: {
            cancelOrder: function(ids) {
                var app = this
                app.room.status = 5
                var idCancel = app.room
                axios.post('/api/v1/rooms-order/update/status/'+ids, idCancel, {headers: {
                    "Authorization" : localStorage.getItem('token')
                }})
                    .then(function (resp) {
                        const code = resp.data.diagnostic.code
                        const status = resp.data.diagnostic.status
                        if(code == 200){
                            alert('Success to cancel order')
                            location.href = '/my-order'
                        }else{
                            alert(status)
                        }
                    })
                    .catch(function (resp) {
                        console.log(resp)
                        alert("Something wrong. Try Again!")
                    });
            }
        }
    }

    
</script>