<template>
<div class="row w-100" style="position: absolute;top: 20%;padding-left: 60px;padding-right: 60px;">

    <div class="col-12">
        <div class="login-logo text-center">
            <a href="#">Order Review</a>
        </div>
    </div>
    <div class="col-12" style="margin-top: 15px;">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <td>Name</td>
                                <td>{{users.name}}</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>{{users.email}}</td>
                            </tr>
                            <tr>
                                <td>Hotel</td>
                                <td>{{rooms.hotel_name}}</td>
                            </tr>
                            <tr>
                                <td>Room</td>
                                <td>{{rooms.name}}</td>
                            </tr>
                            <tr>
                                <td>Check In</td>
                                <td>{{checkin}}</td>
                            </tr>
                            <tr>
                                <td>Check Out</td>
                                <td>{{checkout}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-12 text-center">
        <button type="button" class="btn btn-primary" v-on:click="saveOrders">Order Now</button>
    </div>
</div>
</template>
<script>
    import Datepicker from 'vuejs-datepicker';
    import moment from 'moment';
    export default {
        data: function () {
            return {
                hotels: [],
                rooms: [],
                auth: '',
                checkin: '',
                checkout: '',
                users: [],
                order: {
                    room_id: '',
                    checkin: '',
                    checkout: '',
                    user_id: ''
                }
            }
        },
        components: {
            Datepicker
        },
        mounted() {
            var app = this;
            app.auth = localStorage.getItem('token')
            app.checkin = localStorage.getItem('checkin')
            app.checkout = localStorage.getItem('checkout')
            var id = window.location.href.split('/').pop()
            app.order.room_id = id
            app.order.checkin = localStorage.getItem('checkin')
            app.order.checkout = localStorage.getItem('checkout')

            axios.get('/api/v1/rooms/show?id='+id, {headers: {
                    "Authorization" : localStorage.getItem('token')
                }
                })
                .then(function (resp) {
                    app.rooms = resp.data.response;
                })
                .catch(function (resp) {
                    console.log(resp);
                });

            axios.get('/api/v1/get/profile', {headers: {
                    "Authorization" : localStorage.getItem('token')
                }})
                .then(function (resp) {
                    app.users = resp.data.response;
                    app.order.user_id = app.users.id
                })
                .catch(function (resp) {
                    console.log(resp);
                });
        },
        methods: {
            saveOrders() {
                event.preventDefault();
                var app = this;
                var newOrder = app.order;
                
                axios.post('/api/v1/rooms-order/create', newOrder, {headers: {
                    "Authorization" : localStorage.getItem('token')
                }})
                    .then(function (resp) {
                        const code = resp.data.diagnostic.code
                        const status = resp.data.diagnostic.status
                        if(code == 200){
                            localStorage.removeItem('checkin')
                            localStorage.removeItem('checkout')
                            alert('Success to order rooms')
                            location.href = '/'
                        }else{
                            alert(status)
                        }
                    })
                    .catch(function (resp) {
                        console.log(resp)
                        alert("Something wrong. Try Again!")
                    });
            }
        }
    }

    
</script>