<template>
<div class="col-6 offset-3">

</div>
</template>

<script>
export default {
        data: function () {
            return {
                erremail: '',
                errpass: '',
                invalid: false,
                users: {
                    email: '',
                    password: '',
                }
            }
        },
        mounted() {
            var app = this;
            const token = document.querySelector("input[id=_token]").value
            localStorage.setItem('token', token)
            location.href = '/'
        },
        methods: {
            
        }
    }
</script>