<template>
<div class="row w-100" style="position: absolute;top: 20%;padding-left: 60px;padding-right: 60px;">

    <div class="col-12">
        <div class="login-logo text-left">
            <a href="#">My Account</a>
        </div>
    </div>
    <div class="col-12" style="margin-top: 15px;">
        <div class="row">
            <div class="col-8">
                <div class="card" style="padding: 15px;">
                <form v-on:submit="updateProfile()">
                    <div class="card-body table-responsive p-0">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Name</label>
                            <input type="text" v-model="user.name" class="form-control" placeholder="Enter Name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" v-model="user.email" class="form-control" placeholder="Enter email">
                        </div>
                        <div class="col-12" style="margin-bottom: 10px;">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">
                            Update
                            </button>
                            <a href="#" v-on:click="Logout()" class="btn btn-danger btn-block btn-flat">
                            Logout
                            </a>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
        
    </div>
</div>
</template>
<script>
    import Datepicker from 'vuejs-datepicker';
    import moment from 'moment';
    export default {
        data: function () {
            return {
                users: [],
                auth: '',
                user: {
                    name: '',
                    email: ''
                }
            }
        },
        components: {
            Datepicker
        },
        mounted() {
            var app = this;
            app.auth = localStorage.getItem('token')

            axios.get('/api/v1/get/profile', {headers: {
                    "Authorization" : localStorage.getItem('token')
                }})
                .then(function (resp) {
                    app.users = resp.data.response
                    app.user.name = app.users.name
                    app.user.email = app.users.email
                })
                .catch(function (resp) {
                    console.log(resp);
                });
        },
        methods: {
            updateProfile: function() {
                event.preventDefault();
                var app = this
                var updateUser = app.user
                axios.post('/api/v1/update/profile', updateUser, {headers: {
                    "Authorization" : localStorage.getItem('token')
                }})
                    .then(function (resp) {
                        const code = resp.data.diagnostic.code
                        const status = resp.data.diagnostic.status
                        if(code == 200){
                            alert('Success to update user')
                            location.reload(true)
                        }else{
                            alert(status)
                        }
                    })
                    .catch(function (resp) {
                        console.log(resp)
                        alert("Something wrong. Try Again!")
                    });
            },
            Logout: function() {
                var app = this
                axios.get('/api/v1/logout', {headers: {
                    "Authorization" : localStorage.getItem('token')
                }
                })
                    .then(function (resp) {
                        const code = resp.data.diagnostic.code
                        const status = resp.data.diagnostic.status
                        if(code == 200){
                            alert('Success to logout')
                            localStorage.removeItem('token')
                            location.href = '/login'
                        }else{
                            alert(status)
                        }
                    })
                    .catch(function (resp) {
                        console.log(resp)
                        alert("Something wrong. Try Again!")
                    });
            }
        }
    }

    
</script>