<template>
<div class="row">
    <div class="col-12">
        <div class="card" style="padding: 15px;">
            <form v-on:submit="updateUsers()">
                <div class="card-body table-responsive p-0">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="text" v-model="user.name" class="form-control" v-bind:class="{ 'is-invalid': errname !== '' }" placeholder="Enter Name">
                        <div class="invalid-feedback">
                        {{errname}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" v-model="user.email" class="form-control" v-bind:class="{ 'is-invalid': erremail !== '' }" placeholder="Enter email">
                        <div class="invalid-feedback">
                        {{erremail}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Role</label>
                        <select class="form-control" v-model="user.role">
                          <option value="administrator">Administrator</option>
                          <option value="manager">Manager</option>
                          <option value="staff">Staff</option>
                          <option value="member">Member</option>
                        </select>
                      </div>
                    <div class="col-12 text-right" style="margin-bottom: 10px;">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">
                        Update
                        </button>
                    </div>
                </div>
            </form>
        </div>
    <!-- /.card -->
    </div>
</div>
</template>
<script>
    export default {
        data: function () {
            return {
                users: [],
                user: {
                    name:'',
                    email:'',
                    password: '',
                    role: ''
                },
                erremail: '',
                errname: '',
                errpass: ''
            }
        },
        mounted() {
            var app = this;
            var id = window.location.href.split('/').pop()
            axios.get('/api/v1/users/show?id='+id, {headers: {
                    "Authorization" : localStorage.getItem('token')
                }
                })
                .then(function (resp) {
                    app.users = resp.data.response;
                    app.user.name = app.users.name
                    app.user.email = app.users.email
                    app.user.role = app.users.role[0]
                })
                .catch(function (resp) {
                    console.log(resp);
                });
        },
        methods: {
            updateUsers: function() {
                event.preventDefault();
                var app = this
                var createUser = app.user
                app.erremail = '';
                
                if (!createUser.name) {
                    app.errname = 'Name required.';
                }else if (!createUser.email) {
                    app.erremail = 'Email required.';
                }else{
                    var id = window.location.href.split('/').pop()
                    axios.post('/api/v1/users/update/'+id, createUser, {headers: {
                        "Authorization" : localStorage.getItem('token')
                    }})
                        .then(function (resp) {
                            const code = resp.data.diagnostic.code
                            const status = resp.data.diagnostic.status
                            if(code == 200){
                                alert('Success to update user')
                                location.href = '/dashboard/users'
                            }else{
                                alert(status)
                            }
                        })
                        .catch(function (resp) {
                            console.log(resp)
                            alert("Something wrong. Try Again!")
                        });
                }
            }
        }
    }

    
</script>