<template>
<div class="col-6 offset-3">
    <p class="login-box-msg">Login to start your session</p>
    <form v-on:submit="saveForm()">
        <div class="input-group mb-3">
            <input type="email" name="email" v-model="users.email" class="form-control" v-bind:class="{ 'is-invalid': erremail !== '' }" value="" placeholder="Email" autofocus>
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
            <div class="invalid-feedback">
            {{erremail}}
            </div>
        </div>
        <div class="input-group mb-3">
            <input type="password" name="password" v-model="users.password" class="form-control" v-bind:class="{ 'is-invalid': errpass !== '' }" placeholder="Password">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
            <div class="invalid-feedback">
            {{errpass}}
            </div>
        </div>
        <div class="row">

            <div class="col-12" style="margin-bottom: 10px;">
                <button type="submit" class="btn btn-primary btn-block btn-flat">
                Login
                </button>
            </div>
            <div class="col-12">
                <a href="/redirect/google" class="btn btn-primary btn-block btn-flat" style="background-color: #DB4437 !important;">
                    Login with Google
                </a>
            </div>
        </div>
    </form>
</div>
</template>

<script>
export default {
        data: function () {
            return {
                erremail: '',
                errpass: '',
                invalid: false,
                users: {
                    email: '',
                    password: '',
                }
            }
        },
        methods: {
            saveForm() {
                event.preventDefault();
                var app = this;
                var newUsers = app.users;
                app.erremail = '';
                app.errpass = '';
                if (!newUsers.email) {
                    app.erremail = 'Email required.';
                }else if (!newUsers.password) {
                    app.errpass = 'Password required.';
                }else{
                    axios.post('/api/v1/login', newUsers)
                        .then(function (resp) {
                            const code = resp.data.diagnostic.code
                            const status = resp.data.diagnostic.status
                            if(code == 200){
                                const token = resp.data.response.token
                                const user = resp.data.response.user
                                localStorage.setItem('token', token)
                                axios.defaults.headers.common['Authorization'] = token
                                if(user[0] == 'member'){
                                    location.href = '/'
                                }else{
                                    location.href = '/dashboard'
                                }
                            }else{
                                alert(status)
                            }
                        })
                        .catch(function (resp) {
                            console.log(resp)
                            localStorage.removeItem('token')
                            alert("Something wrong. Try Again!")
                        });
                }
            }
        }
    }
</script>