<template>
<div class="col-6 offset-3">
    <p class="login-box-msg">Register to start your session</p>
    <form v-on:submit="saveRegister()">
        <div class="input-group mb-3">
            <input type="text" name="name" v-model="users.name" class="form-control" v-bind:class="{ 'is-invalid': errname !== '' }" placeholder="Name">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-user"></span>
                </div>
            </div>
            <div class="invalid-feedback">
            {{errname}}
            </div>
        </div>
        <div class="input-group mb-3">
            <input type="email" name="email" v-model="users.email" class="form-control" v-bind:class="{ 'is-invalid': erremail !== '' }" placeholder="Email">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
            <div class="invalid-feedback">
            {{erremail}}
            </div>
        </div>
        <div class="input-group mb-3">
            <input type="password" name="password" v-model="users.password" class="form-control" v-bind:class="{ 'is-invalid': errpass !== '' }" placeholder="Password">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
            <div class="invalid-feedback">
            {{errpass}}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block btn-flat">
                    Register
                </button>
            </div>
        </div>
    </form>
</div>

</template>
<script>
export default {
        data: function () {
            return {
                erremail: '',
                errpass: '',
                errname: '',
                invalid: false,
                users: {
                    name: '',
                    email: '',
                    password: '',
                }
            }
        },
        methods: {
            saveRegister() {
                event.preventDefault();
                var app = this;
                var newUsers = app.users;
                app.erremail = '';
                app.errpass = '';
                app.errname = '';
                if (!newUsers.name) {
                    app.erremail = 'Name required.';
                }else if (!newUsers.email) {
                    app.errpass = 'Email required.';
                }else if (!newUsers.password) {
                    app.errpass = 'Password required.';
                }else{
                    axios.post('/api/v1/register', newUsers)
                        .then(function (resp) {
                            const code = resp.data.diagnostic.code
                            const status = resp.data.diagnostic.status
                            if(code == 200){
                                const token = resp.data.response.token
                                const user = resp.data.response.user
                                localStorage.setItem('token', token)
                                axios.defaults.headers.common['Authorization'] = token
                                location.href = '/'
                            }else{
                                alert(status)
                            }
                        })
                        .catch(function (resp) {
                            console.log(resp)
                            localStorage.removeItem('token')
                            alert("Something wrong. Try Again!")
                        });
                }
            }
        }
    }
</script>