<template>
<div class="row">
    <div class="col-12">
        <div class="card" style="padding: 15px;">
            <form v-on:submit="saveHotels()">
                <div class="card-body table-responsive p-0">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="text" v-model="hotel.name" class="form-control" v-bind:class="{ 'is-invalid': errname !== '' }" placeholder="Enter Name">
                        <div class="invalid-feedback">
                        {{errname}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Description</label>
                        <input type="text" v-model="hotel.description" class="form-control" v-bind:class="{ 'is-invalid': errdesc !== '' }" placeholder="Enter description">
                        <div class="invalid-feedback">
                        {{errdesc}}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-file">
                            <input type="file" v-on:change="handleFileUpload()" ref="file" class="custom-file-input">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                    </div>
                    <div class="col-12 text-right" style="margin-bottom: 10px;">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">
                        Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    <!-- /.card -->
    </div>
</div>
</template>
<script>
    export default {
        data: function () {
            return {
                hotels: [],
                hotel: {
                    name:'',
                    description:'',
                    url_image: ''
                },
                errdesc: '',
                errname: '',
            }
        },
        mounted() {
            var app = this;
            
        },
        methods: {
            handleFileUpload(){
                this.hotel.url_image = this.$refs.file.files[0];
            },
            saveHotels: function() {
                event.preventDefault();
                var app = this
                var createHotel = app.hotel
                app.errname = '';
                app.errdesc = '';
                let formData = new FormData()
                formData.append('name', app.hotel.name)
                formData.append('description', app.hotel.description)
                formData.append('url_image', app.hotel.url_image)

                if (!createHotel.name) {
                    app.errname = 'Name required.';
                }else if (!createHotel.description) {
                    app.errdesc = 'Description Required.';
                }else{
                    axios.post('/api/v1/hotel/create', formData, {headers: {
                        "Authorization" : localStorage.getItem('token'),
                        'Content-Type': 'multipart/form-data'
                    }})
                        .then(function (resp) {
                            const code = resp.data.diagnostic.code
                            const status = resp.data.diagnostic.status
                            if(code == 200){
                                alert('Success to create hotel')
                                location.href = '/dashboard/hotels'
                            }else{
                                alert(status)
                            }
                        })
                        .catch(function (resp) {
                            console.log(resp)
                            alert("Something wrong. Try Again!")
                        });
                }
            }
        }
    }

    
</script>