<template>
<div class="row">
    <div class="col-12 text-right" style="margin-bottom: 15px;">
        <a href="/dashboard/hotels/add" class="btn btn-primary">Add New</a>
    </div>

    <div class="col-12">
        <div class="card">
            <div class="card-header">
            <h3 class="card-title">List Hotels</h3>

            <div class="card-tools">
                
            </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="hotel, index in hotels">
                    <td>{{hotel.id}}</td>
                    <td>{{hotel.name}}</td>
                    <td>{{hotel.description}}</td>
                    <td><a :href="'/dashboard/hotels/update/'+hotel.id">[UPDATE]</a> <a href="#" v-on:click="deleteHotels(hotel.id)">[DELETE]</a></td>
                </tr>
                
                </tbody>
            </table>
            </div>
            <!-- /.card-body -->
        </div>
    <!-- /.card -->
    </div>
</div>
</template>
<script>
    export default {
        data: function () {
            return {
                hotels: []
            }
        },
        mounted() {
            var app = this;
            axios.get('/api/v1/hotel/show', {headers: {
                    "Authorization" : localStorage.getItem('token')
                }
                })
                .then(function (resp) {
                    app.hotels = resp.data.response;
                })
                .catch(function (resp) {
                    console.log(resp);
                });
        },
        methods: {
            deleteHotels: function(ids) {
                axios.post('/api/v1/hotel/delete/'+ids, [], {headers: {
                        "Authorization" : localStorage.getItem('token')
                    }})
                        .then(function (resp) {
                            const code = resp.data.diagnostic.code
                            const status = resp.data.diagnostic.status
                            if(code == 200){
                                alert('Success to delete hotel')
                                location.reload(true)
                            }else{
                                alert(status)
                            }
                        })
                        .catch(function (resp) {
                            console.log(resp)
                            alert("Something wrong. Try Again!")
                        });
            }
        }
    }

    
</script>